<div class="mat-elevation-z8 content">
  <h1 style="margin: 0;">Subject</h1>
  <div style="display: inline-block; width: 100%">
    <mat-form-field appearance="standard" color="accent">
      <mat-label>Name</mat-label>
      <input matInput required [(ngModel)]="form.Nome">
    </mat-form-field>
    <br/>
    <mat-form-field appearance="standard" color="accent">
      <mat-label>Course</mat-label>
      <mat-select [(ngModel)]="form.CourseId">
        <mat-option *ngFor="let course of courses" [value]="course.value">
          {{course.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div style="display: flex">
    <button mat-raised-button color="primary" (click)="onAddSubject()" style="margin: 5px;">
      Add/Edit Subject
    </button>
    <button mat-stroked-button color="accent" class="mat-elevation-z1" [routerLink]="['/subjects']" style="margin: 5px">
      Cancel
    </button>
  </div>
</div>
