@import "./src/custom-theme";
@import "~@angular/material/theming";

.mat-sidenav {
  margin: 10px;
  width: 230px;
  background: mat-color($Project-primary);
  color: #221E22;
  border-right: none;
  border-radius: 10px;
  padding: 16px;
  text-align: left;
}

.mat-sidenav-container {
  height: calc(100vh - 120px);
}
