<mat-nav-list >
  <mat-list-item routerLink="/">
      <mat-icon>home</mat-icon>
      <span class="nav-caption">Home</span>
  </mat-list-item>
  <mat-list-item routerLink="/course">
      <mat-icon>school</mat-icon>
      <span class="nav-caption">Courses</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>class</mat-icon>
    <span class="nav-caption">Subjects</span>
  </mat-list-item>
  <mat-list-item routerLink="/class">
    <mat-icon>groups</mat-icon>
    <span class="nav-caption">Classes</span>
  </mat-list-item>
  <mat-list-item routerLink="/students">
    <mat-icon>person</mat-icon>
    <span class="nav-caption">Students</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>rate_review</mat-icon>
    <span class="nav-caption">Grades</span>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item>
    <mat-icon>help</mat-icon>
    <span class="nav-caption">Help</span>
  </mat-list-item>
</mat-nav-list>
