<div class="mat-elevation-z8 content">
  <div style="display: flex">
    <h1 style="margin: 0; text-align: center">Courses</h1>
    <button mat-raised-button color="primary" class="topButton" [routerLink]="['/newcourse']" >
      Add Course
    </button>
  </div>

  <div class="divTable">
    <table mat-table [dataSource]="courses" style="background: none">
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell  *matHeaderCellDef > Actions </th>
        <td mat-cell *matCellDef="let element" >
          <button mat-icon-button [routerLink]="['/newcourse', element.code]">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons style="background: none"></mat-paginator>
</div>
