<div  class="content mat-elevation-z8">
  <mat-grid-list cols="2" [rowHeight]="100" style="width: calc(80vw - 30px)">
    <mat-grid-tile class="card">
      <mat-card>
        <mat-card-header>
          <div  class="card-header">
            <h1>Title for something</h1>
          </div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="card-content">
            Something
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="card">
      <mat-card>
        <mat-card-header>
          <div  class="card-header">
            <h1>Title for something</h1>
          </div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="card-content">
            Something else!
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
